body{
    margin: 14px;
}
.base{
	display: inline-block;
    color: #2878a1;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 0;

}

.art{
	margin-top: 75px;
}


#heading-text{
    font-size: 18px;
    font-family:sans-serif;
}

.image{
    height: 38px;
    width: 37px;
}

#design1{
        width: 20%;
        margin-left: 15px;
        
}

.thumbBtn{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-left: 14px;
    border: 5px #ba8f8f;
}

.middle-img{
    width: 95%;
    
}


 
.img-2{
    width: 60%;
}

.color{
    margin: 10px;
}

.price{
    font-size: 25px;
    font-family: bold;
}

.width{
      width: 500px;
}
 
 .BTN-1{
    padding-left: 40px;
    padding-right: 40px;
 }

 .img-3{
    width: 80%;
 }

 .img-4{
    width: 30%;
 }

 .box{
     background-color: #F2F2F2;
 }

 #design2{
        width: 50%;
    }